<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.yenladesign.www"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Veggie Chase</name>
	<description>A sample app for Up and Running with PhoneGap Build</description>
<author href="yenladesign.com" email="skyeyenla@gmail.com">
Yen La
</author>

<preference name="phonegap-version" value="3.6.3" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="false" />
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="disallowOverscroll" value="true" />
	<preference name="prerendered-icon" value="false" />
	<preference name="stay-in-webview" value="true" />
	<preference name="ios-statusbarstyle" value="default" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-targetSdkVersion" value="14" />
	<preference name="android-installLocation" value="auto" />
	<preference name="splash-screen-duration" value="5000" />
	<preference name="load-url-timeout" value="20000" />
	<preference name="KeepRunning" value="true"/>
	<preference name="DisallowOverscroll" value="false"/>
	<preference name="BackgroundColor" value="0xffffffff "/>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />

<!----------------------------------------Android------------------------------------------>
<icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="res/icon/android/icon-144-xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
	<icon src="res/icon/windows-phone/icon-62-tile.png" gap:platform="winphone" />
	<icon src="res/icon/windows-phone/icon-173-tile.png" gap:platform="winphone" gap:role="background" />

<!----------------------------------------Android Icon------------------------------------------>	
	<gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="res/icon/android/icon-144-xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
	<gap:splash src="res/screen/windows-phone/screen-portrait.jpg" gap:platform="winphone" />
	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
    <!-- We'll include the Barcode plugin as an example -->
    <!-- <gap:plugin name="com.phonegap.plugins.barcodescanner" /> -->
</widget>