body {
	
	width: 640px;
	height: 960px;
	border: 1px solid black;
}

.content { 

	background-color: #a6d8ff; 
	width: 640px;
	height: 960px;
}

header {

	position: absolute;
	left:100px;
	right:0;
	top:90px;
}

header img {

	height:138px;
	width:440px;
}


#shrub01 {
	position: fixed;
/*	margin-top:797px;*/
	z-index: 200;
	top:350px;

}

#tree01 {
	position: fixed;
    left: 35px;
    top: 178px;
    z-index: 100;

}

#tree02 {
	position: fixed;
    left: 477px;
    top: 178px;
    z-index: 90;

}