body {
	
	width: 640px;
	height: 960px;
	border: 1px solid black;
}

.content { 

	background-color: #a6d8ff; 
	width: 640px;
	height: 960px;
}

header {

	position: absolute;
	left:90px;
	right:0;
	top:83px;
}

header img {

	height:138px;
	width:440px;
}


#shrub01 {

	margin-top:797px;

}