body
{
	margin: 0;
	padding: 0;
	background-color: #a6d8ff; 
	color: #FFFFFF;
	line-height: 1;
	font-family: Helvetica, Tahoma, Verdana; 
	font-size: 12px;
}

h1 {
	font-size: 120px;
	margin: 0;
	padding: 0;
	color:#c00700;
}

p
{
	font-size: 35px;
	margin: 0;
	padding: 0;
}

div
{
	-webkit-transition: translateZ(0px);
	-khtml-transition: translateZ(0px);
	-moz-transition: translateZ(0px);
	-o-transition: translateZ(0px);
	transition: translateZ(0px);
}

.animation
{
	position: absolute;
	left: 0;
	top: 0;

	/*background-size: 280px;*/
}

.charcontainer
{
	display: block;
	left: 0px;
	position: absolute;
	top: 0px;

/*	background-size:50% */
}

/*.charcontainer div:first-child {
	background-size:50% ;
}*/

.info {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-khtml-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.keybutton
{
	background-color: #666666;
	border-radius: 10px;
	height: 92px;
	position: absolute;
	width: 92px;
}

.pip
{
	/*background:white;*/
	/*background: #ff000a;*/
	background-image: url("../_images/artichoke.png");
	display: block;
	padding: 8px;
	left: 0px;
	-webkit-transition: opacity 0.3s ease-in-out;
	-khtml-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	position: absolute;
	top: 0px;
}

#container
{
	cursor: pointer;
	position: relative;
	margin: 10px auto 0 auto;
}

#score
{
	cursor: pointer;
	font-size: 14px;
	height: 14px;
	overflow: hidden;
	padding: 0px;
	position: relative;
	margin: 0px; 
	margin: auto;
	margin-top: 5px;
	text-align: center;
	color:black;
}

#info
{
	font-weight: bold;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	vertical-align: middle;
}

#infobg
{
	background-color: #a6d8ff;
}
